ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* header */
header li {
  display: inline-block;
  padding-right: 20px;
}

header a {
  color: black;
  text-transform: uppercase;
}
