body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mr-10 {
  margin-right: 10px;
}

/* header */

/* header-top */
.header-top {
  height: : 80px;
  line-height: 80px;
}

.header-top .logo {
  vertical-align: middle;
}

.header-top .nav-language :not(li:last-child) a{
  border-right: 2px solid black;
  padding-right: 10px;
}

.header-top li {
  display: inline-block;
  padding-right: 10px;
  font-weight: 600;
  font-size: 13px;
}

.header-top a {
  color: #343434;
  text-transform: uppercase;
}

/* jumbotron */
.jumbotron {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.jumbotron div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.jumbotron h1 {
  font-size: 35px;
}

.jumbotron p {
  margin: 15px;
}

/* main */
section {
  padding: 60px 0;
}

/* bikes-section */
.bikes-section {
  text-align: center;
}

.bikes-section .box{
  background-color: #fafafa;
  margin-left: calc(100% / 12 / 3 * 2);
}

.bikes-section h3 {
  padding-top: 30px;
}

.bikes-section p {
  margin: 20px 0;
}

.bikes-section img {
  max-width: 400px;
  width: 90%;
}

/* phone-section */
.phone-section {
  padding-top: 150px;
  background-image: url("../img/index-banner.1f6fd0a.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50%;
}

.phone-section .box {
  height: 511px;
  position: relative;
}

.phone-section .box div{
  position: absolute;
  top: 70%;
}

.phone-section .box:first-child div{
  right: 0px;
}

.phone-section .box:nth-child(2) img {
  width: 256px;
}

.phone-section h2{
  max-width: 250px;
  font-size: 32px;
}

/* photo-section */
.photo-section {
  padding: 0;
  font-weight: bold;
}

.photo-section .row:first-child {
  margin-bottom: 30px;
}

.photo-section .row:first-child .container {
  height: 500px;
  background-image: url("../img/scooter.f0a0397.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-section .box {
  height: 500px;
  position: relative;
}

.photo-section .row .box div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

.photo-section .row:first-child .box h3{
  font-size: 42px;
}

.photo-section .row:first-child .box p {
  margin: 30px 0;
}

.photo-section .row:last-child .box div{
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.photo-section .row:last-child .box h3{
  margin-top: 30px;
  font-size: 32px;
}

.photo-section .row:last-child .box p {
  margin: 15px 0;
}

.photo-section .box a{
  color: white;
}

.photo-section .row:last-child .box {
  width: calc(100% / 12 * 6 - 15px);
}

.photo-section .row:last-child .box:first-child{
  margin-right: 30px;
  background-color: #3b4e60;
  background-image: url("../img/iphone-bg.2dae1bd.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center 270px;
}

.photo-section .row:last-child .box:last-child{
  background-image: url("../img/city.7c8c928.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* collage-section */
.collage-section .row{
  height: 500px;
  background-image: url("../img/collage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  position: relative;
}

.collage-section .row div {
  padding: 60px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-size: 32px;
  font-weight: 600;
}

.collage-section .row a {
  padding-right: 20px;
  color: black;
}

.collage-section .row a:last-child {
  padding-right: 0;
}


@media screen and (max-width: 768px) {

  /* header */
  .jumbotron h1 {
    font-size: 24px;
  }

  /* main */

  /* bikes-section */
  .bikes-section .box{
    margin-bottom: 30px;
    margin-left: calc(100% / 12 / 2 * 2);
  }

  /* phone-section */
  .phone-section .box {
    height: auto;
  }

  .phone-section .box div{
    margin-left: 100px;
    position: static;
  }

  .phone-section .box:last-child{
    font-size: normal;
  }

  .phone-section h3{
    margin-top: 60px;
    max-width: auto;
    font-size: 32px;
  }

  .phone-section h4{
    margin: 30px auto 20px;
  }

  /* photo-section */
  .photo-section .row:last-child .box {
    width: 100%;
    margin: 0;
  }

  .photo-section .row:last-child .box:first-child {
    margin-bottom: 30px;
  }

}
